.container {
border-radius: 5px;
}

.card-header {
  background-color: #fff !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none !important;
}

.collaborator {
  display: flex;
  flex-direction: column;
  margin-left: -30%;
}

.name {
    font-size: 14px;
}

.access-level {
    margin-top: -10%;
    font-size: 10px;
}

.collaborator-actions {
  background-color: #fff !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
}
