.list-container {
  margin-top: 26px;
}
.list-container .card {
  margin-bottom: 16px;
}
.product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px !important;
}
.product-header div {
  padding: 10px;
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.product-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-card div {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 25%;
  flex-direction: column;
  text-align: center;
}

.product-options {
  padding: 5px;
  height: 80%;
}
.product-options-container{
  background-color: var(--gray-secondary);
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.product-quantity input, label{
  display: flex;
}

.decrease-link{
  color: var(--dark);
  cursor: pointer;
}

.input-quantity{
  width: 60px;
}

.select-alone {
  width: 100%;
}

.div-input{
  display: flex;
  align-items: center;
}

.lot-info div{
  flex-direction: row;
  display: flex;
  padding-left: 5%;
}

.lot-info span{
  display: flex;
  flex-direction: column;
  padding-left: 1%;
}

.lot-info label{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

@media only screen and (max-width: 413px) {
  .list-container {
    margin-top: 90px;
  }
}
@media only screen and (min-width: 414px) and (max-width: 944px) {
  .list-container {
    margin-top: 50px;
  }
}