.login-header a.img {
    width: 40%;
    max-width: 150px;
  }

.signIn-button {
  background-color: white;
  color: var(--primary);
  font-weight: 600;
  margin-top: -20px !important;
  border: solid 0.5px var(--gray-secondary);
  border-radius: 2px !important;
  padding: 15px 25px 15px 25px;
}

.signIn-button:hover {
  background-color: #F0F0F0;
  color: var(--primary);
  font-weight: 600;
  margin-top: -20px !important;
  border: solid 0.5px var(--gray-secondary);
  border-radius: 2px !important;
  padding: 15px 25px 15px 25px;
}

.signUp {
  margin-top: 5px;
  margin-left: 50%;
  font-weight: 600;
}

