.nav-container {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3.5rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.nav-item div button {
  box-shadow: none !important;
}

.nav-item div button:hover {
  background-color: transparent;
}

.nav-item {
  cursor: pointer;
  margin-right: 12px;
}

.nav-item svg:hover {
  opacity: 0.5;
}
