.logo {
    width: 170%;
    margin-top: 150%;
}

.rights {
    margin-top: 5%;
    margin-left: 5%;
}

.links {
    padding-top: 7.5%;
    text-align: right;
}

.link {
    margin-bottom: 15px !important;
    margin-left: -10% !important;
    text-decoration: none !important;
}

a.signUp {
    font-size: 16px;
    color: var(--font-dark);
}

a {
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .rights {
        margin-left: 15% !important;
    }

    .signUp {
        margin: 0 !important;
    }

    a.signUp,
    span.rights {
        font-size: 11px;
    }
}