.stock-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.toolbar {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.product-filters {
  display: flex;
}

.search-filter {
  height: inherit;
  display: flex;
  align-items: center;
  margin: 0;
}
.search-filter input {
  height: inherit;
}
.search-filter svg {
  background: var(--gray-secondary);
  color: var(--gray-dark);
  height: inherit;
  width: 30px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
}
.search-filter svg:hover {
  opacity: 0.5;
}

.create-import button {
  margin-right: 5px;
}

.new-product-input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  justify-content: space-between;
}

.new-product-input-container div {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.new-product-input-container div {
  width: 100%;
}
.product-category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.product-checks {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow-y: scroll;
}

.product-category span {
  margin-bottom: 8px;
}

.new-category-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.new-category-form label {
  margin-top: 12px;
}

.select-alone {
  width: 100%;
}

.textarea-alone {
  width: 100%;
}

.dropdown-menu.show {
  transform: translate3d(-88px, 39px, 0px) !important;
}

@media only screen and (max-width: 767px) {
  .new-product-input-container {
    flex-wrap: wrap;
  }
  .toolbar {
    display: flex;
    flex-direction: column;
  }
  .create-import {
    flex-direction: column;
    margin: 40px 50px 0px -300px;
    display: flex;
  }
  .create-import button {
    margin-bottom: 10px;
  }
  .dropdown-toggle {
    white-space: normal;
    padding: 0px !important;
  }
}
@media only screen and (max-width: 944px) {
  .create-import button {
    margin-bottom: 2.5px;
  }
}
