.stock-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.toolbar {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  flex-wrap: wrap;
}

.search-filter {
  height: inherit;
  display: flex;
  align-items: center;
}
.search-filter input {
  height: inherit;
}
.search-filter svg {
  background: var(--gray-secondary);
  color: var(--gray-dark);
  height: inherit;
  width: 30px;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.search-filter svg:hover {
  opacity: 0.5;
}
.create-import button {
  margin-left: 5px;
}

.add-product-modal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-product-input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-product-input-container div {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.new-product-input-container.textarea div {
  width: 100%;
}
