button {
  border-style: none;
  background-color: var(--primary);
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem !important;
  transition: 0.5s;
}

button:hover {
  background-color: var(--primary-dark);
}
button:focus {
  outline: none !important;
}

button.secondary{
  border-style: none;
  background-color: var(--dark);
  color: #fff; 
  padding: 0.5rem 2rem;
  border-radius: 5px !important;
  transition: 0.5s;
}
button.secondary:hover{
  background-color: var(--font-dark);
}

input {
  background-color: #eee;
  border-style: none;
  padding: 8px;
  border-radius: 5px;
}

select {
  background-color: #eee;
  border-style: none;
  padding: 8px;
  border-radius: 5px;
  width: 220px;
}

option {
  background-color: #fff;
}

select:focus,
input:focus {
  border-style: solid;
  border-color: rgba(77, 188, 196, 0.6);
  box-shadow: 0px 0px 2px 2px rgba(77, 188, 196, 0.6);
}

.routes-logged-desktop {
  padding-left: 15rem;
  padding-top: 3.5rem;
}
.routes-logged-mobile {
  padding-top: 3.5rem;
}

:root {
  --primary: #ab2918 !important;
  --primary-light: #e62c38;
  --primary-dark: #781d11;
  --primary-smooth: #c21123;
  --primary-strong: #d92109;

  --secondary: #0fa0ab !important;
  --secondary-light: #acf3f9;
  --secondary-dark: #0b7178 !important;
  --secondary-smooth: #4dbcc4;
  --secondary-strong: #60edf7;

  --green: #2AAB20 !important; 
  --green-light: #88C959; 
  --green-dark: #1D7817; 
  --green-smooth: #58C791; 
  --green-strong: #5CD177;

  --yellow: #AB9A29 !important; 
  --yellow-light: #F7DE3B; 
  --yellow-dark: #B88623; 
  --yellow-smooth: #B8A52C; 
  --yellow-strong: #E0CA36; 

  --gray: #F5F5F5 !important;
  --gray-secondary: #E0E0E0;
  --gray-dark: #757575 !important;
  
  --dark: #313C4E !important;
  --font-dark: #1C1C1C;

}
