* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.container {
  margin: 16px;
}

html,
body,
#root {
  height: 100%;
}

body {
  font: 14px 'Montserrat', sans-serif !important;
  background: #e5e5e5 !important;
  color: #333;
  -webkit-font-smoothing: antialiased !important;
}

ul {
  list-style-type: none;
}
