.new-collaborator-container {
  padding: 10px;
}

.add-product-modal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-collaborator-input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-collaborator-input-container div {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.new-collaborator-input {
  width: 220px !important;
}

.new-collaborator-input-container.textarea div {
  width: 100%;
}

button.secondary:disabled {
  background-color: var(--gray-secondary) !important;
}
